/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* ==================================
============== GENERAL ==============
===================================== */
/* general links - no underline */
a {
	text-decoration: none;
}

/* ==================================
=========== NAVBAR HEADER ===========
===================================== */

header {
	float: left;
	width: 100%;
	margin: 0 0 30px 0;
	background: #514B4C;
}

header a#logo img {
	max-width: 80px;
	margin: 10px 0px 10px 7%;
}

/* nav links container */
nav {
	float: right;
	text-align: right;
	padding: 10px 0;
	margin-right: 7%;
	margin-top: 10px;
	font-size: 1.3em;
}

/* unordered list of nav links */
nav ul {
	list-style: none;
}

/* individual nav link list items */
nav li {
	display: inline-block;
}

/* individual nav link styling */
nav a {
	color: #FFF6CB;
	padding: 10px; /* more space to mouse over */
	margin: 0px 10px;
}
nav a.selected, nav a:hover {
	color: #ACCF5E;
}