<!-- top navbar -->
<header>
	<!-- logo -->
	<%= link_to image_tag('logo.png'), donations_path, id: "logo" %>
	<!-- navigation -->
	<nav>
		<ul>
			<li><%= link_to "Donations", donations_path %></li>
			<li><%= link_to "Messages" , '#' %></li>
			<li><%= link_to "Log In"  , '#' %></li>
		</ul>
	</nav>
</header>